@import "text.scss";

.about-appson {
    &__container {
        display: block;     
        //height: 1190px;
        background-color: $color_white;
        margin: 0 auto;
    }
    &__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__block:nth-child(2) {
        flex-direction: row-reverse;
        margin-top: -30px;
    }
    &__image {
        
    }

    &__text-block {
        max-width: 544px;
        margin-top: 226px;
    }
    &__text-block:nth-of-type(1) {
        margin-left: 96px;
    }
    &__text-block:nth-child(2) {
        margin-right: 109px;
    }
    &__text_heading {
        margin-bottom: 33px;
    }
    &__text_body {
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 38px; 
    }
    &__link {
        font-weight: 500;
        text-decoration: none;
        &__link-arrow {
            width: 15px;
            height: 11px;
        }
    }

}


@media (min-width: 1000px) and  (max-width: 1399px) { 
   .about-appson__image{
       width:465px;
       height: 467px;
   }
   .about-appson__text-block{
    max-width: 439px;
   }
   .about-appson__text-block:nth-child(2) {
    margin-right: 37px;
    }
    .about-appson__text-block:nth-of-type(1) {
        margin-left: 37px;
    }        
}

@media (min-width: 700px) and  (max-width: 999px) { 
    .about-appson__image{
        width: 352px;
        height: 351px;
    }
    .about-appson__text-block{
     max-width: 439px;    
     margin-bottom: 9px;
     margin-top: 86px;
    }
    .about-appson__text-block:nth-child(2) {
     margin-right: 37px;
     }
     .about-appson__text-block:nth-of-type(1) {
         margin-left: 47px;
     }
     .about-appson__block:nth-child(2) {       
        margin-top: 0;
    }    
    .about-appson__text_body {
        margin-bottom: 10px;
    }    
 }

 
@media (min-width: 480px) and  (max-width: 699px) { 
    .about-appson__image{
        width: 352px;
        height: 351px;
    }
    .about-appson__text-block{
     max-width: 439px;    
     margin-bottom: 9px;
     margin-top: 86px;
    }
    .about-appson__text-block:nth-child(2) {
       margin: 0 42px;
     }
     .about-appson__text-block:nth-of-type(1) {
        margin: 0 42px;
     }
     .about-appson__block:nth-child(2) {       
        margin-top: 0;
    }    
    .about-appson__text_body {
        margin-bottom: 10px;
        font-size: 13px !important;
    }   
    .about-appson__block{
        flex-direction :column;
        align-items: center;
    } 
    .about-appson__block:nth-child(2){
        flex-direction :column;
        align-items: center;
    }
    .about-appson__text_heading{
        margin-bottom: 10px;
        font-size: 28px !important;
    }   
    .about-appson__link{
        font-size: 13px !important;
    }
 }

 
@media (min-width: 320px) and  (max-width: 479px) { 
    .about-appson__image{
        width: 287px;
        height: 289px;
    }
    .about-appson__text-block{
     max-width: 439px;    
     margin-bottom: 9px;
     margin-top: 86px;
    }
    .about-appson__text-block:nth-child(2) {
       margin: 0 20px;
     }
     .about-appson__text-block:nth-of-type(1) {
        margin: 0 20px;
     }
     .about-appson__block:nth-child(2) {       
        margin-top: 0;
    }    
    .about-appson__text_body {
        margin-bottom: 10px;
        font-size: 13px !important;
    }   
    .about-appson__block{
        flex-direction :column;
        align-items: center;
    } 
    .about-appson__block:nth-child(2){
        flex-direction :column;
        align-items: center;
    }
    .about-appson__text_heading{
        margin-bottom: 10px;
        font-size: 28px !important;
    }   
    .about-appson__link{
        font-size: 13px !important;
    }
 }