@import "text.scss";

.about-appson {
    &__container {
        display: inline-block;
        width: 1920px;
        height: 1190px;
        background-color: $color_white;
    }
    &__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__block:nth-child(2) {
        flex-direction: row-reverse;
        margin-top: -30px;
    }
    &__image {
        
    }

    &__text-block {
        max-width: 544px;
        margin-top: 226px;
        border: 1px dashed red;
    }
    &__text-block:nth-of-type(1) {
        margin-left: 96px;
    }
    &__text-block:nth-child(2) {
        margin-right: 109px;
    }
    &__text_heading {
        margin-bottom: 33px;
    }
    &__text_body {
        margin-bottom: 38px; 
    }
    &__link {
        text-decoration: none;
        &__link-arrow {
            width: 15px;
            height: 11px;
        }
    }

}