@import "text.scss";

.btn {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: none;
    &__color_dark-blue {
        background-color: #0063dd;
        color: $color_white;
    }
}