@import "text.scss";

.btn {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: none;
    &__color_dark-blue {
        background-color: $color_dark-blue;
        color: $color_white;
    }
    &__color_blue {
        background-color: $color_blue;
        color: $color_white;
        font-weight: 700;
    }
    &__color_transparent {
        background-color: transparent;
        color: $color_blue;
        font-weight: 700;
        border: 2px solid $color_blue; 
    }
}

.btn-double {
    &__left {
        width: 164px;
        height: 50px;
        border: none;
        border-radius: 25px 0 0 25px;
    }
    &__right {
        width: 164px;
        height: 50px;
        border-radius: 0 25px 25px 0;
    }
}

.btn-rect {
    width: 263px;
    height: 76px;
    border-radius: 5px;
    background-color: $color_blue;
    border: none;
}

.subscribe-form {
    max-width: 555px;
    width: 100%;
    margin: 0 auto;

    &:focus {
      outline: none;
    }
    &__input {
        color: $color_white;
        border: none;
        border: 2px solid #ffffff;
        border-radius: 30px 0 0 30px;
        &:focus {
        }
    }
    input {
      height: 60px;
      background-color: transparent;
    }
    .btn-input {
      border: none;
      height: 60px;
      width: 165px;
      background-color: $color_white;
      color: $color_blue;
      margin: -1px;
      border: 2px solid $color_white; 
      border-radius: 0 30px 30px 0;
      text-transform: uppercase;
      position: relative;
      
      /*transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;*/
    /* &:hover, &:focus, &:active, &:visited {
        color: #fff;

        outline: none;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        &:before {

          transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
        }
      }*/
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        width: 100%;
        /*transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;*/
      }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: 30px;
    }
  }