@import "text.scss";


.leave-comment {
    width: 750px;
    &__form {

    }
    &__name {
        margin-bottom: 50px;
    }
    &__name-text {

    }
    &__name-text-msg {
        width: 688px;
        height: 108px;
        resize: none;
        border-radius: 5px;
        border: 1px solid $color_light-grey;
        outline: none;
	    -moz-appearance: none;
        overflow: auto; //Удаляем скролл-бары в IE
        padding: 25px 30px 25px 30px;
        margin-bottom: 30px;
    }
    &__btn {
        margin-left: 585px;
    }
}

