@import "text.scss";

.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feature { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 290px;
    background-color: $color_white;
    margin-right: 30px;
    margin-top: 165px;
    margin-bottom: 130px;
}

.feature:nth-child(2) {
    margin-top: 215px;
}

.feature-images {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #dfedff;
    margin-left: 145px;
    margin-bottom: 30px;
    &__color_blue-greyish {
        background-color: $color_blue-greyish;
    }
    &__color_purple-greyish {
        background-color: $color_purple-greyish;
    }
    &__color_green-greyish {
        background-color: $color_green-greyish;
    }
}

.feature-image {
    position: absolute;
    &__analysis {
        top: 20px;
        left: 19px;
    }
    &__clean-design {
        top: 17px;
        left: 18px;
    }
    &__messaging {
        top: 19px;
        left: 17px;
    }
}

.feature-text {
    text-align: center;
    &__heading {

    }
    &__body {

    }
}