@import "text.scss";

.footer-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 106px;
    background-color: $color_blue;
    border-top: 1px solid white;
    &__text {     
        margin-left: 391px;
        font-weight: 400;
    }
    &__menu {      
        list-style-type: none;      
        font-weight: 400;
        margin-left: 235px
    }
    &__menu-item {
        display: inline-block;
    }
    &__menu-link {
        text-decoration: none;
        @extend .text__body;
        @extend .text__color_white;
    }
    &__social-media {      
        list-style-type: none;
        width: 78px;
        margin-left: 118px;
    }
    &__social-media-item {
        display: inline-block;
        margin-right: 5px;
    }
    &__social-media-link {

    }
    &__social-media-image {

    }
    &__scroll {
        margin-left: 194px;
    }
}