@import "text.scss";

.footer {
    &__color-front_light-blue {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 106px;
        background-color: $color_light-blue;
        border-top: 1px solid $color_light-grey;
    }
    &__color-front_blue {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 391px;
        padding-right: 150px;
        height: 106px;
        background-color: $color_blue;
        border-top: 1px solid white;
    }
    &__text-front_blue { 
        @extend .text__body;
        @extend .text__color_white;    
        font-weight: 400;
    }
    &__text-front_light-blue { 
        @extend .text__body;
        @extend .text__color_grey;  
        font-weight: 400;
    }        
    &__social-media { 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        width: 80px;
        margin-left: 118px;
    }
    &__social-media-item {
        //display: inline-block;
        //margin-right: 5px;
    }   

    &__menu {  
        display: flex; 
        flex-direction: row;
        justify-content: space-between;        
        font-weight: 400;
       // margin-left: 235px;
        width: 350px;
    }
    &__menu-front_light-blue {
       // margin-right: 194px;
    }
    &__menu-front_blue {
        margin-right: 118px;
    }
    &__menu-item {   
        //display: inline-block;
        //vertical-align: middle;
        list-style-type: none; 
    }   
    &__menu-link-front_light-blue {
        text-decoration: none;
        @extend .text__body;
        @extend .text__color_grey;
        &:hover, &:focus, &:active {
            color: $color_blue;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
        }
    }    
    &__menu-link-front_blue {
        text-decoration: none;
        @extend .text__body;
        color: #d8d8d8;
        &:hover, &:focus, &:active {
            color: $color_white;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
        }
    }
    &__scroll {
        display: block;       
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 99999;
    }     

}

@media (min-width: 1600px) and  (max-width: 3200px){ 
    .footer {
        &__scroll {       
        right: 140px;
        bottom: 20px;        
        }         
        &__menu-front_light-blue {
            margin-left: 391px;
        }
    } 
    
}
@media (min-width: 1400px) and  (max-width: 1599px){ 
    .footer {
        &__scroll {       
        right: 140px;
        bottom: 20px;        
        }         
        &__menu-front_light-blue {
            margin-left: 255px;
        }       
    } 
}

@media (min-width: 1000px) and  (max-width: 1399px) { 
    .footer {
        &__scroll {       
        right: 75px;
        bottom: 20px;        
        }        
        &__menu-front_light-blue {
            margin-left: 68px;
            width: 300px;
        }       
    } 
}

@media (min-width: 700px) and  (max-width: 999px) { 
    .footer {
        &__scroll {       
            right: 50px;
            bottom: 40px;        
            }  
        &__color-front_light-blue {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: space-around;
            height: 136px;
        }
        &__menu-front_light-blue {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 480px) and  (max-width: 699px) {
    .footer-dark__scroll-image{
        width: 30px;
        height: 30px;
    }
    .footer {
        &__scroll {       
            right: 10px;
            bottom: 20px;                    
            }  
     
        &__color-front_light-blue {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: space-around;
            height: 92px;          
        }
        &__menu-front_light-blue {
            margin-bottom: 10px;
        }
    }
     .footer__menu-link-front_blue, .footer__menu-link-front_light-blue, .footer__text-front_light-blue, .footer__text-front_blue{
        font-size: 13px !important;
    }

}

@media (min-width: 320px) and  (max-width: 479px) {
    .footer-dark__scroll-image{
        width: 30px;
        height: 30px;
    }
    .footer {
        &__scroll {       
            right: 10px;
            bottom: 20px;                    
            }  
     
        &__color-front_light-blue {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: space-around;
            height: 92px;          
        }
        &__menu-front_light-blue {
            margin-bottom: 10px;
        }
        &__menu {  
            width: 280px;
        }
    }
     .footer__menu-link-front_blue, .footer__menu-link-front_light-blue, .footer__text-front_light-blue, .footer__text-front_blue{
        font-size: 13px !important;
    }

}



    
    



    
    
