@import "text.scss";
@import "button.scss";

.free-trail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 336px;
    background-color: $color_light-blue;
}

.free-trail-title {
    margin-right: 162px;
    &__heading {
        margin-bottom: 24px;
    }
    &__body {
        font-weight: 400;
    }
}