@import "text.scss";
@import "button.scss";

.free-trail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   // height: 336px;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: $color_light-blue;
}

.free-trail-title {
    margin-right: 162px;
    &__heading {
        margin-bottom: 24px;
    }
    &__body {
        font-weight: 400;
    }
}

@media (min-width: 700px) and  (max-width: 999px) { 
    .free-trail-title {
        margin-right: 30px;
    }
}


@media (min-width: 480px) and  (max-width: 699px) { 
    .free-trail-title {
        text-align: center;
        margin-right: 0;
        &__heading {
            font-size: 28px !important;
        } 
        &__body {
            font-size: 13px !important;
        }
        margin-bottom: 20px;
    }
    .free-trail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        &__btn{
            height: 40px !important;
            font-size: 13px !important;
            width: 165px !important;
        }
        &__arrow{
            padding-left:10px;
            width: 13px;
            height: 11px;
        }
    }
}


@media (min-width: 320px) and  (max-width: 479px) { 
    .free-trail-title {
        text-align: center;
        margin-right: 0;
        &__heading {
            font-size: 28px !important;
        } 
        &__body {
            font-size: 13px !important;
        }
        margin-bottom: 20px;
    }
    .free-trail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        &__btn{
            height: 40px !important;
            font-size: 13px !important;
            width: 165px !important;
        }
        &__arrow{
            padding-left:10px;
            width: 13px;
            height: 11px;
        }
    }
}