@import "text.scss";

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-left: 140px;
    padding-right: 140px;
    &__color-front_light-blue {
        background-color: $color_light-blue;
    }
}

.logo {
    text-align: center;
    &__color-front_blue {
        height: 77px;
        width: 179px;
        background-color: $color_blue;
        border-radius: 0 0 22px 22px;
        padding-top: 33px;
    }
    &__link-homepage {
        text-decoration: none;
    }
    &__text_color_white {
        @extend .text__h1_small;
        @extend .text__color_white;
    }
    &__text_color_blue {
        @extend .text__h1_small;
        @extend .text__color_blue;
        line-height: 100px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 353px;
    font-weight: 500;
    margin-top: 44px;
    &__item {
        list-style-type: none;
    }
    &__link {
        text-decoration: none;
        @extend .text__uppercase;
        @extend .text__color_dark-grey;
        @extend .text__body;
        &:hover, &:focus {
            color: $color_blue;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
        }
    }
    &__link-active {
        color: $color_blue; 
    }
    
    &__btn {
        @extend .text__body;
        font-weight: 700;
        margin: 25px 0 25px 53px;
    }
}

.header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-top: 1px solid $color_light-grey;
    background-color: $color_light-blue;
    &__image {
        margin-right: 14px;
    }
}

.header-title-text {
    height: 120px;
    width: 700px;
//367px;
    &__heading {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__body {
    
    }
}

@media (min-width: 700px) and  (max-width: 999px) { 
    .heading {
        height: 100px;
        padding-left: 50px;
        padding-right: 50px;

    }
    .menu-heading {
        min-width: 260px;
        &__btn {
            @extend .text__body;
            font-weight: 700;
            margin: 25px 0 25px 25px;
        }
    }
}

@media (min-width: 480px) and  (max-width: 699px) {
    .heading {
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-heading {
        min-width: 214px;
        &__btn {                    
            margin: 25px 0 25px 7px;
            font-size: 13px !important;
            width: 80px !important;
        }
    }
    .menu-heading__btn, .menu-heading__link{
        font-size: 13px;
    }
}

@media (min-width: 320px) and  (max-width: 479px) {
    .heading {     
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
        height: 122px;
    }

    .menu-heading {        
        align-items: center;
        min-width: 214px;
        margin-top: 0;
        &__btn {                    
            margin: 0 0 0 3px;
            font-size: 13px !important;
            width: 80px !important;
        }
    }
    .menu-heading__btn, .menu-heading__link{
        font-size: 13px;
    }
    .logo {
        text-align: left;
    }
    .logo__text_color_blue {
        line-height: 40px;
    }
}