@import "text.scss";
@import "button.scss";
body {
    font-family: 'Quicksand', "Open Sans", Arial, sans-serif;
    //max-width: 1920px;
};

.homepage-background {
    display: flex;
    flex-direction: column;
    justify-content: start; 
    height: 1004px;
    background: url('../image/Background.png');
    background-position: 0 0;
    background-repeat: no-repeat; 
    background-size: 100% 1043px;
    //background-size: cover; //?  100% auto
}

.homepage-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homepage-img__scroll {
    display: block;
    position: absolute;
    bottom: 404px;
    width: 70px;
    margin: 0 auto;
    z-index: 40;
}

.homepage-btn-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.homepage-btn {
    margin-right: 30px;
}

.homepage-text {
    max-width: 611px;
    text-align: center;  
    margin-top: 106px;
    &__heading {
        margin-bottom: 32px;
    }
    &__body {
        font-weight: 400;
        margin-bottom: 37px;
        line-height: 27px;
    }
}

@media (min-width: 700px) and  (max-width: 999px) { 
    .homepage-img__device{
        width: 649px;
        height: 730px;
    }
    .homepage-img__scroll{
        width: 60px;
        height: 60px;
        bottom: 285px;
    }
   
    .homepage-background {
        background-size: auto 100%;
        height: 858px;
       
    }
}

@media (min-width: 480px) and  (max-width: 699px) { 
    .homepage-img__device{
        width: 464px;
        height: 602px;
    }
    .homepage-img__scroll{
        width: 44px;
        height: 44px;
        bottom:237px;
    }
    .homepage-background {
        background-size: auto 100%;
        height: 743px;
    }
    .homepage-text__body{
        font-size: 13px !important;
    }
    .homepage-text__heading{
        font-size: 30px !important;
    }
    .homepage-text {
        max-width: 469px;     
        margin-top: 70px;
    }
    .homepage-btn{     
        font-size: 13px !important;
        height:40px !important;
    }
}

@media (min-width: 320px) and  (max-width: 479px) { 
    .homepage-img__device{
        width: 311px;
        height: 367px;
    }
    .homepage-img__scroll{
        width: 30px;
        height: 30px;
        bottom: 144px;
    }
    .homepage-background {
        background-size: auto 100%;
        height: 748px;
    }
    .homepage-text__body{
        font-size: 13px !important;
    }
    .homepage-text__heading{
        font-size: 30px !important;
    }
    .homepage-text {
        max-width: 290px;     
        margin-top: 40px;
    }
    .homepage-btn-title{
        flex-direction: column;
    }
    .homepage-btn{
        margin-right: 0;      
        margin-bottom: 10px;
        font-size: 13px !important;
        height:40px !important;
    }
}




