@import "text.scss";

.latest-news {

}

.latest-news-text-title {
    text-align: center;
    &__heading {
        margin-top: 130px;
        padding-top: 22px;
        margin-bottom: 8px;
        padding-bottom: 31px;
        height: 22px;
        background-image: url('../image/2-layers.png');
        background-size: 108px 75px;
        background-repeat: no-repeat;
        background-position: center 110px;
    }
    &__body {
        margin-bottom: 47px; 
        font-weight: 400;
        width: 732px;
        height: 43px;
    }
}

.posts {

}

.post {
    list-style-type: none; 
    &__image {

    }
}

.post-active {
    list-style-type: none;
    width: 556px;
    height: 530px;
    &__image {
        display: block;
        width: 555px;
        height: 285px;
        margin-bottom: 40px;
    }
    &__heading {
        @extend .text__h2_small;
        @extend .text__color_blue;
        width: 490px;
        height: 59px;
        margin-bottom: 24px;
    }
    &__body {
        font-weight: 400;
        @extend .text__color_grey;
        @extend .text__body;
        margin-bottom: 37px;
    }
    &__link {
        text-decoration: none;
        margin-right: 9px;
        @extend .text__color_blue;
        @extend .text__body;
        &__link-arrow {
            width: 15px;
            height: 11px;
        }
    }
}