@import "text.scss";

.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 960px;
}

.latest-news-text-title {
    text-align: center;
    &__heading {
        margin-top: 130px;
        padding-top: 22px;
        margin-bottom: 8px;
        padding-bottom: 31px;
        height: 22px;
        background-image: url('../image/2-layers.png');
        background-size: 108px 75px;
        background-repeat: no-repeat;
        background-position: center 110px;
    }
    &__body {
        margin-bottom: 47px; 
        font-weight: 400;
        width: 732px;
        height: 43px;
    }
}

.posts {
    display: grid;
    grid-template-columns: 556px 532px;
    grid-template-rows: 120px 120px 230px;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
}

.post {
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    width: 532px;
    height: 120px;
    &__image {
        display: block;
        width: 165px;
        height: 120px;
        margin-right: 30px;
    }
    &__title {
        
    }
    &__heading {
        @extend .text__h3;
        @extend .text__color_dark-grey;    
        line-height: 28px;  
        margin-bottom: 25px;
    }
    &__body {
        @extend .text__body;
        @extend .text__color_grey;  
    }
}

.post-active {
    grid-row: 1 / 4;
    grid-column: 1 / 1;
    list-style-type: none;
    width: 556px;
    height: 530px;
    &__image {
        display: block;
        width: 555px;
        height: 285px;
        margin-bottom: 40px;
    }
    &__heading {
        @extend .text__h2_small;
        @extend .text__color_blue;
        width: 490px;
        height: 59px;
        margin-bottom: 24px;
    }
    &__body {
        font-weight: 400;
        @extend .text__color_grey;
        @extend .text__body;
        margin-bottom: 37px;
    }
    &__link {
        text-decoration: none;
        margin-right: 9px;
        @extend .text__color_blue;
        @extend .text__body;
        &__link-arrow {
            width: 15px;
            height: 11px;
        }
    }
}