@import "text.scss";

.pagination {   
    &__item {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        border-top: 1px solid $color_blue;    
        border-bottom: 1px solid $color_blue;  
        background-color: $color_blue;   

        &:hover, &:focus, &:active {
            color: $color_blue;
            background-color: $color_white;
            border-top: 1px solid transparent;  
            border-bottom: 1px solid transparent;          
            outline: none;
        }  
    }
    &__item:first-child{
        border: 1px solid $color_blue;    
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;    
        padding-left: 4px; 
         
        &:hover, &:focus, &:active {
            color: $color_blue;
            background-color: $color_white;
            border: 1px solid transparent;          
            outline: none;            
        }  
    }
    &__item:last-child{
        border: 1px solid $color_blue;    
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;  
        &:hover, &:focus, &:active {
            color: $color_blue;
            background-color: $color_white;
            border: 1px solid transparent;          
            outline: none;
        }  
    }
   
    &__item_current {
        color: $color_blue;
        background-color: $color_white;
        border: 1px solid transparent;
    }
    &__item_current > a {
        color: $color_blue;
        background-color: $color_white;       
    }
    &__link {   
        display: inline-block;
        font-family: 'Quicksand', "Open Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        text-align: center;    
        height: 40px;
        width: 32px;
        color: $color_white;
       
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: $color_blue;
            background-color: $color_white;
            border: none;     
        }
    }
    &__item-next .fas{
        display: block;
        line-height: 35px;
        &:hover, &:focus, &:active {
            color: $color_blue;
            background-color: $color_white;
            border: none;     
        }
    }
}

.fa-angle-right:before {
    content: "\f105";
    font-size: 11px;
    font-weight: 400;    
    line-height: 35px;
    height: 100%;
    text-align: center;
    padding-bottom: 5px;
    color: $color_white;
}
.fa-angle-right:hover:before, 
.fa-angle-right:focus:before, 
.fa-angle-right:active:before {
    content: "\f105";
    font-weight: 400;
    line-height: 28px;
    width: 33px;
    line-height: 35px;
    height: 100%;
   
    color: $color_blue;
}