@import "text.scss";

.pagination {
    display: inline-block;
    width: 165px;
    height: 40px;
    border-radius: 3px;
    background-color: $color_blue;
    &__item {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
    }
    &__link {   
        font-family: 'Quicksand', "Open Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 22px;
        width: 10px;
        height: 16px;
        color: $color_white;
        text-decoration: none;
    }
}

.fa-angle-right:before {
    content: "\f105";
    font-size: 11px;
    font-weight: 400;
    line-height: 28px;
    color: $color_white;
}