@import "text.scss";

.pagination {
    display: inline-block;
    width: 165px;
    height: 40px;
    border-radius: 3px;
    padding-left: 5px;
    &__item {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
    }
    &__link {   
        font-family: 'Quicksand', "Open Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        width: 33px;
        height: 40px;
        color: $color_white;
        background-color: $color_blue;
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: $color_blue;
            background-color: $color_white;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
        }
    }
    &__link_current {
        color: $color_blue;
        background-color: $color_white;
    }
}

.fa-angle-right:before {
    content: "\f105";
    font-size: 11px;
    font-weight: 400;
    line-height: 28px;
    width: 33px;
    height: 40px;
    text-align: center;
    padding-bottom: 5px;
    color: $color_white;
}
.fa-angle-right:hover:before, 
.fa-angle-right:focus:before, 
.fa-angle-right:active:before {
    content: "\f105";
    font-weight: 400;
    line-height: 28px;
    width: 33px;
    height: 40px;
    color: $color_blue;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}