@import "text.scss";

.homepage-place-left {
    position: relative;
    height: 517px;
    width: 258px;
    box-shadow: 0 0 62px rgba(142, 142, 142, 0.44);
    &__img_foreground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
    &__img {
        position: absolute;
        top: 11px;
        left: 14px;
        z-index: 4;
    }
}