@import "text.scss";


/* Style for "How to upl" */
.question {
    &__heading {
        height: 23px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 34px;
    }
    &__text {
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 47px;
        
    }
    &__help {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 30px;
    }
    &__help-btn:nth-of-type(1) {
        margin-right: 15px;
    }

}

@media (min-width: 700px) and  (max-width: 999px) { 
    .question {
        &__text {
            
        }
        &__help-btn:nth-of-type(1) {
            margin-right: 0px;
        }
        &__help {
         
            width: 276px;
            height: 30px;
        }       
    }
}

@media (min-width: 480px) and  (max-width: 699px) { 
    .question {
        &__text {
            font-size: 13px !important;
            margin-bottom: 32px;
        }
        
        &__heading{
            font-size: 16px !important;
            line-height: 20px;
            margin-bottom: 10px;
        }
        &__help-btn:nth-of-type(1) {
            margin-right: 0px;
        }
        &__help {
         
            width: 276px;
            height: 30px;
        }
        &__help-text{
            font-size: 16px !important;
        }
    }
}

@media (min-width: 320px) and  (max-width: 479px) { 
    .question {
        &__text {
            font-size: 13px !important;
            margin-bottom: 32px;
        }
        
        &__heading{
            font-size: 16px !important;
            line-height: 20px;
            margin-bottom: 10px;
        }
        &__help-btn:nth-of-type(1) {
            margin-right: 0px;
        }
        &__help {
         
            width: 276px;
            height: 30px;
        }
        &__help-text{
            font-size: 16px !important;
        }
    }
}
