@import "text.scss";


/* Style for "How to upl" */
.question {
    &__heading {
        height: 23px;
        font-weight: 500;
        line-height: 30px;
        border: 1px solid red;
        margin-bottom: 34px;
    }
    &__text {
        font-weight: 400;
        line-height: 27px;
        border: 1px solid red;
        margin-bottom: 47px;
    }
    &__help {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 30px;
    }
    &__help-btn:nth-of-type(1) {
        margin-right: 15px;
    }

}
