@import "text.scss";

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 130px;
}
.left-side {
    //display: inline-block;

}
.right-side {
    //display: inline-block;
    //vertical-align: top;
    &__search-input {
        margin-bottom: 50px;
    }
    &__recent-posts {
        margin-bottom: 50px;
    }
}