@import "text.scss";

.left-side {
    display: inline-block;
    margin-top: 130px;
}
.right-side {
    display: inline-block;
    vertical-align: top;
    margin-top: 130px;
    &__search-input {
        margin-bottom: 50px;
    }
}