@import "text.scss";

.social-media {      
    list-style-type: none;
    width: 78px;
    
    &__item {
        display: inline-block;
        margin-right: 5px;
    }
    &__link {

    }
    &__image {

    }
}

.footer__social-media  {
    margin-left: 118px;
}