@import "text.scss";

.works-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   // height: 646px;
    background-color: $color_light-blue;
    text-align: center; 
}

.work-text-title {
    width: 735px; 
    
    &__heading {
        padding-top: 130px;
        margin-bottom: 8px;
        padding-bottom: 31px;
        background-image: url('../image/2-layers.png');
        background-size: 108px 75px;
        background-repeat: no-repeat;
        background-position: center 110px;
    }
    &__body {  
        font-weight: 400;
        line-height: 27px;      
        margin-bottom: 47px;   
    }
}

.works-block {
    display: flex;
    flex-direction: row;
    background-image: url('../image/Line.png');
    background-repeat: no-repeat;
    background-size: 685px 1px;
    background-position: 290px 50px;
}

.work {
    width: 297px; //?TODO
    margin-left: 94px;
    &__image {
        margin-bottom: 31px;
    }
}

.work-text {
    &__heading {
        margin-bottom: 29px;  
    }
    &__body {
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 127px;  
    }
}

@media (min-width: 1000px) and  (max-width: 1399px) {
    .work {
        width: 267px;
        margin-left: 39px;
    }
    .works-block {      
        background-position: 148px 50px;
    }
 }
 @media (min-width: 700px) and  (max-width: 999px) {
    .work {
        width: 182px;
        margin-left: 26px;
    }
    .works-block {      
        background-position: 73px 50px;
        background-size: 81% 1px;
    }
    .work-text-title {
        width: 560px;
    }
 }

 @media (min-width: 480px) and  (max-width: 699px) {  
    .work {
        width: 90%;
        margin-left: 21px;
        display: flex;
        flex-direction: row;
    }
    .works-block {      
        background-position: 70px 50px;
        background-size: 1px 79%;
        flex-direction: column;
    }
    .work-text-title {
        width: 391px;
    }
    .work-text-title__heading{
        font-size: 28px !important;
        padding-top: 20px;
        margin-bottom: 8px;
        padding-bottom: 10px;
       
        background-size: 102px 58px;
        background-repeat: no-repeat;
        background-position: center 1px;
    }
    .work-text-title__body{
        font-size: 13px !important;
    }
    .work-text__heading {
        font-size: 16px !important;
        margin-bottom: 10px;
        text-align: left;
    }   
    .work-text__body {
        font-size: 13px !important;
        text-align: left;
        margin-bottom: 0;
    }   
    .work__image{
        margin-right:15px;
    }
    .work-text{
        padding: 10px;
    }
  
 }


 @media (min-width: 320px) and  (max-width: 479px) {
    .work {
        width: 90%;
        margin-left: 21px;
        display: flex;
        flex-direction: row;
    }
    .works-block {      
        background-position: 70px 50px;
        background-size: 1px 76%;
        flex-direction: column;
    }    
    .work__image {
        margin-bottom: 57px;
    }
    .work-text-title {
        width: 293px;
    }
    .work-text-title__heading{
        font-size: 28px !important;
        padding-top: 20px;
        margin-bottom: 8px;
        padding-bottom: 10px;
       
        background-size: 102px 58px;
        background-repeat: no-repeat;
        background-position: center 1px;

    }
    .work-text-title__body{
        font-size: 13px !important;
      //  margin-bottom: 80px;
       
    }
    .work-text__heading {
        font-size: 16px !important;
        margin-bottom: 10px;
        text-align: left;
    }
    .work-text__body {
        font-size: 13px !important;
        text-align: left;
        margin-bottom: 0;
    }
    .works-container {     
    
    }
    .work-text{
        padding-left: 20px;
    }
 }



